@import "../../../styles/variables.scss";

.alignRight {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  justify-content: space-between;
  min-width: 125px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 16px;
}

.text {
  padding: 5px;
}

.button {
  border: none;
  background-color: transparent;
  border-radius: 2px;
}
.button:disabled {
  background-color: $green;
}
