.recipeOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}

table {
  table-layout: auto;
  min-width: 800px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.ingredient {
  display: flex;
}

.icon {
  width: 16px;
}
