@import "./styles/variables.scss";

.app {
  height: 100%;
  background-color: $appBackground;
  display: flex;
  flex-direction: column;
}

.recipeOverviewContainer {
  margin: 0 $pageMargin;
  display: flex;
  flex: 1;
}

footer {
  position: absolute;
  bottom: 0;
  left: $pageMargin;
  right: $pageMargin;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: $pageBackground;
  box-shadow: 0px 0px 25px 40px $pageBackground;
}
